body{
	background-color: black;
	color: white;
	text-align: center;
	align-items: center;
}

.picadilly{
	margin: 10px;
	text-align: center;
	background-color: black;
	max-width: 600px;
	min-height: 275px;
	max-height: 275px;
	float: left;
	border: 1px solid rgb(20,40,10);
}
      
#pic{
	width: 80%;
	padding-top: max(5%);
}

p{
	padding-top: 0px;
	margin: 0px;
}

h1{
        font-size: 48px;
	padding-bottom: 0px;
	color: blue;
}

h2{
        font-size: 38px;
	padding-bottom: 22px;
	color: blue;
	font-weight: 100;
}

#whiteheader{
	font-size: 42px;
	font-weight: lighter;
	color: snow;
}

#great{ 
	display:         flex;
  	flex-wrap:       wrap;
  	justify-content: center;
	background-image: url("map.jpg");
}

a:link{
	color: blue;
}

a:visited{
	color: blue;
}